<h1>Merchants</h1>

<% if params[:q] %>
  <% merchant = @facade.search_merchants %>
  <p><%= link_to merchant.name, merchant_path(merchant.id) %></p>
<% else %>
  <% @facade.merchants.each do |merchant| %>
    <p><%= link_to merchant.name, merchant_path(merchant.id) %></p>
  <% end %>
<% end %>